@import "Class_title";
@import "Class_background";

.calendar_button{
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 0;
}

.active {
  background-color: $brown !important;
  color: white !important;
}

.inactive {
  background-color: $honey !important;
  color: $brown !important;
}

.button{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $white !important;
  text-decoration: none;
  width: 50vw;
  border-radius: 32px;
  padding: 20px;
  background-color: $brown;
  font-size: 20px;
  font-weight: bold;
}

.input_text{
  margin-top: 30px;
  border-radius: 32px;
  color: $brown;
  border: 2px solid $brown;
  padding: 15px;
  background-color: $beige;
}

.input_submit {
  margin-top: 30px;
  color: $white !important;
  text-decoration: none;
  width: 100%;
  border-radius: 32px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $brown;
  border: $brown;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  color: $brown;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: auto;
}


.area_parent {
  background-color: $dark;
  min-height: 120px;
  width: 83.5%;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 0;
  border-radius: 0 0 16px 16px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.area_parent.hive {
  height: 93px !important;
  min-height: 93px !important;
  width: 83.5% !important;
}



.hive_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $dark;
  min-height: 93px;
  width: 95%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0 0 16px 16px;
  overflow-y: scroll;
}

.area_parent > .content {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
}


.content > .area_child{

  border-radius: 16px ;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  overflow-y: scroll;
  width: 95%;

}

.week {
  height: auto !important;
}
.hive {
  height: 20px !important;
  width: calc(100% + 12px) !important;
}

.stat_size {
  margin: auto;
}

.area_child {
  background-color: $yellow;
  min-width: 50%;
  width: 70vw;
  height: 100px;
  margin: auto;
  border-radius: 0 0 16px 16px;
  padding-bottom: 10px;
}


.area_child > .title {
  background-color: $brown;
  color: $white;
  font-weight: bold;
  padding-left: 20px;
  border-radius: 14px 14px 0 0;
}

.content {

  width: 90%;
  overflow-y: scroll;
}

.month {
  .title_day{
    height: 19px;
    width: calc(10vw - 1px);
  }

  .area_parent{
    height: 35px;
    min-height: 0;
    width: 15vw;
    overflow-y: hidden;
  }

  .area_parent > .dayOfMonth {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.thisDay {
  background-color: $honey;
  color: $brown;
}

.swiper {
  width: 372px;
  height: 812px;
}

