.background_welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../Assets/WelcomeBackground.svg");
  height: 100vh;

  width: 100vw;

}

.background_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../Assets/LoginBackground.svg");
  height: 100vh;
  width: 100vw;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: calc(100vh - 64px);
  width: 100vw;
}

.button{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $white !important;
  text-decoration: none;
  width: 50vw;
  border-radius: 32px;
  padding: 20px;
  background-color: $brown;
  font-size: 20px;
  font-weight: bold;
}

.input_text{
  margin-top: 30px;
  border-radius: 32px;
  color: $brown;
  border: 2px solid $brown;
  padding: 15px;
  background-color: $beige;
}

.input_submit {
  margin-top: 30px;
  color: $white !important;
  text-decoration: none;
  width: 100%;
  border-radius: 32px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $brown;
  border: $brown;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  color: $brown;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: auto;
}
